site_name: "SM4Tops MVA preprocessing Workflow"
site_url: https://Cecilia01atlas.github.io/cmse890-finale-project/

theme:
  name: "readthedocs"
  features:
    - content.code.copy

plugins:
  - search
  - mkdocstrings

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Home: index.md
  - Installation: installation.md
  - Workflow Overview: workflow.md
  - FAQ: faq.md
